@import url(https://fonts.googleapis.com/css?family=Lato:300);

html {
  background: radial-gradient(#000, #111); 
  height: 100%;
}
.arrow_box {
    width: 250px;
    height: 200px;
    margin-left: auto;
    padding: 0%;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: 15%;
    bottom: 5%;
}

.keys {
  font-family: 'Lato', sans-serif;    
  text-align: center;
  margin: auto;
}

.arr {
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 100px;
  background: grey;
  color: white;
  font-size: 50px;
  border-right: 10px solid darken(grey, 20);
  border-bottom: 10px solid darken(grey, 20);
  border-left: 10px solid darken(grey, 15);
  border-top: 10px solid darken(grey, 10);  
  display: inline-block;
  margin: 5px;
  transition: all .05s linear;
  &:active {
    border-bottom: 8px solid darken(grey, 20);
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;    
    transform: translate(0, 2px);
  }
  user-select: none;
}

.up {
  position: relative;
  top: -4px;
}

.pressed {
  border-bottom: 8px solid darken(grey, 20);
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

.names {
  font-size: 18px;  
  font-family: 'Lato', sans-serif;    
  text-align: center;
  color: #333;
  text-shadow: 0 0 10px #999;
  margin-top:5px;
}
