@import url(https://fonts.googleapis.com/css?family=Lato:300);

html {
  background: radial-gradient(#000, #111);
  height: 100%;
}

.keys {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: auto;
}
.arrow_box {
    float:right;
    display:none;
}
.arr {
  cursor: not-allowed;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 50px;
  background: white;
  font-size: 25px;
  display: inline-block;
  margin: 4px;
  border-radius: 10px;
  transition: all .05s linear;
  user-select: none;
  border: solid 2px;
  border-color: #AAA;
  border-radius: 3px;
}

.up {
  position: relative;
  top: -2px;
}

.down {
  position: relative;
  top: -2px;
}

.names {
  font-size: 14px;
  font-weight: light;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #AAA;
  height: 10px;
}

.arrow {
  border: solid #AAA;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.ar-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 3px;
}

.ar-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 3px;
}

.ar-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 3px;
}

.ar-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 3px;
}