#whole_page {
    margin:0;
    background-color:#dddddd;
    padding:0;
}

.jumbotron .h1, .jumbotron h1 {
    padding: 40px 0px 20px;
}
h3 {
    text-decoration: underline;
    font-size: 1.2em;
}
#presentation_column {
    display:flex;
    width: 80%;
    height: 100%;
    background-color:#fff;
    margin:0 8% 0 8%;
    padding: 2%;
    box-shadow: #666 10px 10px 20px;
}
.position_text_box {
    position: relative;
    height: 
}
.display_position_text {
    color: #AAA;
    font-size: 1.4em;
    text-align: center;
}

#WORD {
    font-size: 5em;
    transition-timing-function: linear;
}
#start_button {
    position: absolute;
    height: 40px;
    width: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.WORD_BOX {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 80%;
    margin:1em 10%;
}

mark {
    color:red;
    background-color:transparent;
    font-weight: 600;
}
#current_word {
    color: red;
}
body {
    height:100%;
    width:100%;
}
p, body {
    margin: 0 !important;
    padding: 0 !important;
}

H1 {
    color: #ddd;
}
