* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

html, body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    bottom: 2rem;
    right: 2rem;
}

#quiz {
    position: relative;
    width: 50%;
}

#quiz h1 {
    color: #737272;
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    line-height: 44px;
    display: none;
}

#quiz-buttons button {
    margin: 5px;
    color: #737272;
}

#question {
    padding: 20px;
    text-align: left;
    margin-bottom: 10px;
    display: grid;
}

#question h2 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    color: #737272;
}

#question input[type=radio] {
    display: none;
}

#question label {
    color: #737272;
    display: inline-block;
    margin: 4px;
    padding: 8px;
    min-width: 50px;
    cursor: pointer;
    font-size: 18px;
}

#question label:hover {
    background-color: #f5f5f5;
    border-radius: 3px;
}

#question input[type=radio]:checked + label {
    background-color: #d8d8d8;
    font-weight: 800;
    border-radius: 3px;
}

#quiz-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0px;
    width: 100%;
    height: calc(100% - 44px);
}

#quiz-results-message {
    display: block;
    color: #737272;
    font-size: 20px;
    font-weight: bold;
}

#quiz-results-score {
    display: block;
    color: #737272;
    font-size: 20px;
}

#quiz-results-score b {
    color: #737272;
    font-weight: 600;
    font-size: 20px;
}

#quiz-results button {
    margin: 10px;
}