<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "preamble.html" .}}
        <title>CMPUT 656 Speed Reading Assistant</title>
    </head>

    <body>
        {{template "navbar.html" .}}
        <div class="jumbotron">
            <div class="container">
                <h1>CMPUT 656 AI Assisted Speed Reader</h1>
                <p>This is an experiment for CMPUT 656, a graduate class in human <-> AI interaction at the University of Alberta. If you want to participate, we appreciate it! Please read the instructions below and then generate a username and password by clicking on the button to get started!</p>
            </div>
        </div>

        <div>
            <div class="container">
                <h2><strong>Instructions</strong></h2>
                <h3>What is it?</h3>
                <p>This is a speed reading application that attempts to increase reader comprehension by highlighting important parts of the text for the reader.</p>

                <h3>What do I have to do?</h3>
                <p>Read the text and answer some multiple choice questions. The text passages are intended to be simple to read, they are aimed at a grade 4-6 level, however the questions are a bit tricky, so try to pay attention as you cannot look at the text when answering the questions.</p>

                <h3>What if I get the questions wrong?</h3>
                <p>Not a problem, just do your best. To make sure your privacy is protected, the IDs are randomly generated and the study is double blind. This means that you will either get the AI assistant or be placed in a control group where you will have a hand-crafted agent assist you.</p>

                <h3>How does it all work?</h3>
                <p>When you generate an account you are presented with a username and password. This allows you to log in and out and finish your trial. <strong><em>Please only create one account.</em></strong></p>
                <p>When you log in there will be a start button, click that when you are ready to read. The reader will display words in the center of your screen, one at a time. This allows you to read without moving your eyes.</p><br>
                <p>When you are reading the text, you can control the reader by using your keyboard.</p>
                <ul>
                    <li>Pressing the <em><strong>UP arrow key</em></strong> or the <em><strong>W key</em></strong> increases the speed of presentation</li>
                    <li>The <em><strong>DOWN arrow key</em></strong> or the <em><strong>S key</em></strong> decrease the presentation speed</li>
                    <li>To rewind the text press the <strong><em>LEFT arrow key</strong></em> or the <em><strong>A key</em></strong></li>
                    <li>To skip a line press the <strong><em>RIGHT arrow key</strong></em> or the <em><strong>D key</em></strong></li>
                </ul>
                <p><strong>Your goal is to read as fast as you can, but keep in mind that you need to understand the text, as the questions will be directly related to it.</strong> </p>

                <h3>How long does it take?</h3>
                <p>It should take around 30 minutes to complete. When you are done reading the stories, the application will inform you. </p>
                <br>
                <p><a class="btn btn-primary btn-lg" href="/newaccount" role="button">Start a new account &raquo;</a></p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                                    </div>
            </div>
            <hr>
        </div>
    </body>
</html>
