<head>
    {{template "preamble.html" .}}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/arrow.css" rel="stylesheet">
</head>
<body>
    <script>
        let common_words = new Set({{.CommonWords}});
        let story = {{.State.Story.Text}};
        let spans = {{.State.Story.Spans}};
        let group = {{.State.TreatmentType}};
    </script>
    <script type="text/javascript" src="/scripts/api.js"></script>
    <div id=whole_page>
        <div id=presentation_column>
            <button onclick="presentStory();" class="btn btn-primary" id="start_button"> START </button>
            <div id="display-story">
                {{if (eq .State.TreatmentType 0)}}
                    {{template "plainstory.html" .}}
                {{end}}
                {{if (eq .State.TreatmentType 1)}}
                    {{template "rsvp.html" .}}
                {{end}}
                {{if (eq .State.TreatmentType 2)}}
                    {{template "rsvph.html" .}}
                {{end}}
                {{if (eq .State.TreatmentType 3)}}
                    {{template "rsvpi.html" .}}
                {{end}}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/scripts/story.js"></script>

</body>
