<head>
    {{template "preamble.html" .}}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/arrow.css" rel="stylesheet">
</head>
<body>
    <script>
        let common_words = new Set({{.CommonWords}});
        let story = {{.Story}};
        let spans = {{.Spans}};
        let group = {{.Group}};
    </script>
    <script type="text/javascript" src="/scripts/api.js"></script>
    <div id=whole_page>
        <div id=presentation_column>
            <button onclick="presentStory();" class="btn btn-primary" id="start_button"> START </button>
            <div id="display-story">
                {{if (eq .Group 0)}}
                    {{template "rsvp.html" .}}
                {{end}}
                {{if (eq .Group 1)}}
                    {{template "plainstory.html" .}}
                {{end}}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/scripts/story.js"></script>
</body>